<%= message %>
<form method="post" action="/login">
	<p><input type="text"     name="login"    value="" placeholder="Username"></p>
	<p><input type="password" name="password" value="" placeholder="Password"></p>
	<p>
		<input type="submit" name="commit" value="Login">
		<input type="submit" name="commit" value="Register">
	</p>
</form>